@import "~@fluentui/react/dist/sass/References.scss";

.form {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(
      --link
    ); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(
        --linkHovered
      ); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

/* app.module.scss */
.container {
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #233f81 0%, #283657 100%);
  display: flex;
  padding: 4%;
  position: relative;
}

.header {
  color: white;
  font-size: 34px;
  font-family: Segoe UI;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0.3px;
  word-wrap: break-word;
  margin-bottom: 0;
  display: block;
}

.description {
  display: block;
  color: white;
  font-size: 16px;
  font-family: Segoe UI;
  font-weight: 350;
  line-height: 31px;
  letter-spacing: 0.3px;
  word-wrap: break-word;
}

.column1 {
  color: #fff;
  flex-basis: 40%;
  padding: 2%;
  position: relative;
  top: 25px;
}
.column2 {
  // position: absolute;
  height: 70%;
  // right: 82px;
  width: 50%;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 4px;
  border-top: 4px solid #40c4f5;
  flex-basis: 40%;
  padding: 2% 4% 5%;
}

.formTitle {
  color: #fff;
  font-family: Segoe UI;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 15.269px; /* 63.619% */
  letter-spacing: -0.24px;
}

.labelStyle {
  overflow: hidden;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.inputField {
  width: 95%;
  height: 25px;
  flex-shrink: 0;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.35);
  overflow: hidden;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Segoe UI;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border: none;
  padding: 15px 5px 60px 15px;
}

input:focus,
input:focus-visible {
  border: none;
  outline: none;
}

::placeholder {
  color: #fff; /* Change this to the color you want */
}

.submitButton {
  display: flex;
  width: 83px;
  height: 32px;
  padding: 0px 19px 0px 18px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  color: #283657;
  font-family: Segoe UI;
  font-size: 13.329px;
  font-style: normal;
  font-weight: 600;
  line-height: 0px; /* 0% */
  letter-spacing: 0.303px;
  border: none;
  outline: none;
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
    padding: 0 0 20px 0;
  }

  .column1 {
    text-align: center;
  }

  .column2 {
    width: 82%;
    margin: 25px 5% 5%;
    position: relative;
    right: 0px;
    width: auto;
  }

  .formTitle {
    line-height: 30px;
  }

  .labelStyle {
    text-wrap: pretty;
  }
}
